<div class="header">

    <div class='jumbotron'>

        <h1 class='headerTitle'> Eat The Burgers</h1>

    </div>



</div>



<h2> Burgers Available</h2>

<ul>
    {{#each burgers}}
        {{#unless this.devoured}}
            <li>

                {{this.id}}
                {{this.burger_name}}


                <button data-id="{{this.id}}" data-devoured="{{this.devoured}}" class="devourButton">Devour</button>

            </li>
        {{/unless}}
    {{/each}}
</ul>



<h2>Burgers Devoured</h2>

<ul>
    {{#each burgers}}
         {{#if this.devoured}}
            <li>
                {{this.id}}
                {{this.burger_name}}
            </li>
        {{/if}}
    {{/each}}
</ul>


<script type="text/javascript">

$('.devourButton').on("click", function(event) {
  var id = $(this).data('id');

  var burgerState = $(this).data('devoured');


  console.log("This buger " + id + " has been devoured");

  $.ajax('/api/burgers' + id, {
    type: 'PUT',
    data: burgerState
  }).then(
    function() {
      console.log("burger" + id + "stated changed to " + burgerState);
      location.reload();
    }
  )

});





</script>
